@page
@model IndexModels
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pep Rally & Bonfire</h1>
    <p>Matthew Powers 11:10am - 12:25pm</p>
   </div>

<p>We are planning a pep rally and bonfire for the upcoming game and would love for you to come! Please fill out this <a href="/Signup">form</a> letting us know you will be there so we can properly prepare. We will be providing food and drinks as well as a custom made T-Shirt for the first game of the season.</p>
